<app-header></app-header>

<div class="container my-4">

    <h1 class="text-center mb-4">Transacciones</h1>

    <div *ngIf="!transacciones.length" class="alert alert-danger my-3">
      * No hay transacciones registradas
    </div>

    <div *ngIf="transacciones.length" class="row">
        <div class="col-12">
          <table class="table table-hover table-bordered">
            <thead class="table-light text-center">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Monto</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tipo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaccion of transacciones">
                <td>{{ transaccion.id }}</td>
                <td>{{ transaccion.monto }}</td>
                <td>{{ transaccion.fecha }}</td>
                <td>{{ transaccion.tipo }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

</div>

