<div class="container align-items-center">
  <div class="row align-items-center">
    <div class="col-xs-10 col-lg-5 card px-2 ">
      <div class="card-body text-center">
        <h2 class="my-2">E-Porra</h2>
        <p class="my-2">La manera más fácil y divertida de apostar...</p>
      </div>
    </div>

    <div class="col-xs-10 col-lg-5 container">
      <div class="row">

        <div class="my-2 row">
          <h1 class="text-center">Registro</h1>
        </div>

        <form [formGroup]="usuarioForm" (ngSubmit)="registrarUsuario()">

          <div class="form-group">
            <div class="mb-3 row">
              <label for="usuario" class="col-lg-3 col-form-label">Nombre</label>
              <div class="col-lg-9  ">
                <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
              </div>
            </div>
            <div class="alert alert-danger my-3"
              *ngIf="usuarioForm.get('nombre')?.hasError('required') && usuarioForm.get('nombre')?.touched">
              Debe ingresar un nombre para registrarse
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('nombre')?.hasError('maxlength')">
              El nombre no debe exceder los 100 carácteres
            </div>
          </div>

          <div class="form-group">
            <div class="mb-3 row">
              <label for="usuario" class="col-lg-3 col-form-label">Correo</label>
              <div class="col-lg-9  ">
                <input formControlName="correo" type="text" class="form-control" placeholder="Correo">
              </div>
            </div>
            <div class="alert alert-danger my-3"
              *ngIf="usuarioForm.get('correo')?.hasError('required') && usuarioForm.get('correo')?.touched">
              Debe ingresar un correo para registrarse
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('correo')?.hasError('email')">
              El correo debe tener un formato valido
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('correo')?.hasError('maxlength')">
              El correo no debe exceder los 100 carácteres
            </div>
          </div>

          <div class="form-group">
            <div class="row mb-3">
              <label for="usuario" class="col-lg-3 col-form-label">Numero tarjeta</label>
              <div class="col-lg-9  ">
                <input formControlName="numero_tarjeta" type="text" (keydown)="validarNumeros($event)" maxlength="19" class="form-control" placeholder="Numero tarjeta">
              </div>
            </div>
            <div class="alert alert-danger my-3"
              *ngIf="usuarioForm.get('numero_tarjeta')?.hasError('required') && usuarioForm.get('numero_tarjeta')?.touched">
              Debe ingresar un numero de tarjeta para registrarse
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('numero_tarjeta')?.hasError('minlength')">
              El numero de tarjeta debe tener un minimo de 16 numeros
            </div>
          </div>

          <div class="form-group">
            <div class="mb-3 row">
              <label for="usuario" class="col-lg-3 col-form-label">Usuario</label>
              <div class="col-lg-9  ">
                <input formControlName="usuario" type="text" class="form-control" placeholder="Usuario">
              </div>
            </div>
            <div class="alert alert-danger my-3"
              *ngIf="usuarioForm.get('usuario')?.hasError('required') && usuarioForm.get('usuario')?.touched">
              Debe ingresar un usuario para registrarse
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('usuario')?.hasError('maxlength')">
              El usuario no debe exceder los 50 carácteres
            </div>

          </div>

          <div class="form-group">
            <div class="mb-3 row">
              <label for="password" class="col-lg-3 col-form-label">Contraseña</label>
              <div class="col-lg-9">
                <input formControlName="password" type="password" class="form-control" placeholder="*********">
              </div>
            </div>
            <div class="alert alert-danger my-3"
              *ngIf="usuarioForm.get('password')?.hasError('required') && usuarioForm.get('password')?.touched">
              Debe ingresar una contraseña para registrarse
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('password')?.hasError('maxlength')">
              La contraseña no debe exceder los 50 carácteres
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('password')?.hasError('minlength')">
              La contraseña debe tener minimo 8 carácteres 
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('password')?.hasError('pattern')">
              La contraseña debe tener al menos una letra mayúscula y un número.
            </div>
          </div>

          <div class="form-group">
            <div class="mb-3 row">
              <label for="confirmPassword" class="col-lg-3 col-form-label">Confirmar contraseña</label>
              <div class="col-lg-9">
                <input formControlName="confirmPassword" type="password" class="form-control" placeholder="*********">
              </div>
            </div>

            <div class="alert alert-danger my-3"
              *ngIf="usuarioForm.get('confirmPassword')?.touched && usuarioForm.get('confirmPassword')?.hasError('required')">
              Debe confirmar la contraseña para registrarse
            </div>

            <div class="alert alert-danger my-3"
              *ngIf="usuarioForm.get('confirmPassword')?.dirty && usuarioForm.get('confirmPassword')?.value !== usuarioForm.get('password')?.value">
              Las contraseñas no coinciden
            </div>
          </div>

          <div class="col-12 text-center mt-3">
            <button type="submit" class="btn btn-warning col-8"
              [disabled]="!usuarioForm.valid || usuarioForm.get('confirmPassword')?.value !== usuarioForm.get('password')?.value">Registrarse</button>
          </div>
          <div class="col-12 text-center mt-2">
            <p>¿Ya tienes cuenta? <a href="/">Inicia sesión</a></p>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>