<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card mx-3 my-5">
        <div class="row">
          <div class="col-12 text-center">
            <p class="mt-5 mb-2 fs-3 fw-bold">Retirar saldo</p>
          </div>
        </div>

        <form class="mx-5 my-3">

          <div class="form-group my-2">
            <div class="row">
              <div class="col-2 text-start">
                <label for="id_carrera">Saldo actual</label>
              </div>
              <div class="col-2 text-start">
                <label for="id_carrera">{{saldo}}</label>
              </div>
            </div>

            <div class="row">
              <div class="col-2 text-start">
                <label for="id_carrera">Retirar saldo</label>
              </div>
              <div class="col-7">
                <input type="number" (ngModel)="valorRetiro" placeholder="Valor del retiro" pattern="\d*"
                  (keypress)="validarNumero($event)" (input)="onValorRetiroChange($event)">
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-9 text-end">
              <button type="button" class="btn btn-warning" [disabled]="!permiteRetirar"
                (click)="retirar();">Retirar</button>
            </div>
            <div class="alert alert-danger my-3" *ngIf="mensajeAdvertencia">
              {{ mensajeAdvertencia }}
            </div>

            <div class="alert alert-info my-3" *ngIf="mensajeSaldoActualizado">
              {{ mensajeSaldoActualizado }}
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>